@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 129.06 1.33% 0.38%;
    --muted: 0 0% 94.9%;
    --muted-foreground: 0.63 80.51% 53.73%;
    --popover: 40 0% 100%;
    --popover-foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0.63 80.51% 53.73%;
    --border: 40 4% 93%;
    --input: 40 4% 93%;
    --primary: 0.63 80.51% 53.73%;
    --primary-foreground: 40 0% 100%;
    --secondary: 38.18 73.33% 97.06%;
    --secondary-foreground: 10 0% 0%;
    --accent: 0.63 80.51% 53.73%;
    --accent-foreground: 70 0% 100%;
    --destructive: 3 100% 50%;
    --destructive-foreground: 3 0% 100%;
    --ring: 40 42.95% 34.17%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 40 55% 3%;
    --foreground: 40 31% 100%;
    --muted: 10 29% 9%;
    --muted-foreground: 10 4% 62%;
    --popover: 40 55% 4%;
    --popover-foreground: 0 0% 100%;
    --card: 40 55% 4%;
    --card-foreground: 0 0% 100%;
    --border: 40 4% 14%;
    --input: 40 4% 14%;
    --primary: 40 89% 10%;
    --primary-foreground: 40 89% 50%;
    --secondary: 10 89% 10%;
    --secondary-foreground: 10 89% 70%;
    --accent: 70 89% 10%;
    --accent-foreground: 70 89% 50%;
    --destructive: 3 92% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 40 89% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
